/target
secret.txt
.env
ferrox.conf
*.log

# editor / backup / experimental files
*.bak
*.swp
*.tmp
*.ry
*.y
src/co
# Python junk
venv/
src/venv/
__pycache__/
*.pyc

# test / dev scripts
ws.py
ws_server.py
test.py

# large test files
public/bigfile.bin

# backups
src/*.zip
ws1.ly
